<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sinasi Eren Senel Locations</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/palette.min.css">
    <link rel="stylesheet" href="css/style.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,700" rel="stylesheet">
</head>

<body>
    <div class="container-fluid cover-html">
        <div class="row cover-html">
            <div class="col-xs-12 topBar dark-primary-color divider-color" data-bind="foreach : filters">
                <div data-bind="if: type == 'click', visible: type =='click'" class="menu-container">
                    <a class="text-primary-color menu-link btn btn-link" data-bind="click: $root.applyFilter, attr:{title: filter_text}" href="#">
                        <i data-bind="attr: {class: 'fa fa-' + font_icon}" aria-hidden="true"></i>
                        <span data-bind="text : filter_text" class="hidden-md hidden-sm hidden-xs"></span></a>
                </div>
                <div data-bind="if: type == 'select', visible: type =='select'" class="menu-container form-group">
                    <select data-bind="options: $parent.locations, value: $parent.selectedLocation, optionsText: 'name', optionsCaption: 'Choose...'" class="search-box form-control" type="text" name="" value=""></select>
                </div>
            </div>
            <div id="map" class="col-xs-12 content-section googleMap">

            </div>
        </div>

    </div>
</body>
<script src="js/jquery.min.js" charset="utf-8"></script>
<script src="js/underscore.min.js" charset="utf-8"></script>
<script src="js/bootstrap.min.js" charset="utf-8"></script>
<script src="js/knockout.min.js" charset="utf-8"></script>
<script src="js/classes.min.js" charset="utf-8"></script>
<script src="js/main.min.js" charset="utf-8"></script>
<script src="js/googleMap.min.js" charset="utf-8"></script>
<script async defer onerror="mapError()" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDyH7rP5BYZ2Y4HIaqgTneRACUDo5yp2pY&callback=mapInit">
</script>

</html>
